.header {
    height: 100px;
    background: rgba(248, 248, 248, 1);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 50px;
}

.title {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(196, 196, 196, 1);
    max-width: 140px;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_right a {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.header_right a:hover {
    text-decoration: underline;
}

.chats {
    position: relative;
    margin-right: 20px;
    display: flex;
    width: fit-content;
}

.profileIcon{
    position: relative;
}

.profileIcon svg {
    width: 36px;
    height: 36px;
}

.profileIcon svg path {
    transition: .4s all;
}

.profileIcon:hover svg path {
    stroke: rgba(42, 42, 44, 1);
}


@media screen and (max-width: 768px) {
    .header {
        height: 60px;
        background: rgba(255, 255, 255, 0);
    }

    .wrapper {
        padding: 0 30px;
    }

    .title {
        display: none;
    }

    .header_left img {
        width: 136px;
        height: 33.8px;
    }

    .header_right a {
        display: none;
    }
}