.box {
    border-radius: 20px;
    background-color: #fff;
    padding-bottom: 30px;
}

.items {
    width: 100%;
}

.title {
    font-family: 'Trajan Pro 3', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: rgba(101, 100, 108, 1);
    margin: 30px 30px 6px 30px;
}

@media screen and (max-width: 768px) {
    .box {
        border-radius: 10px;
    }
}