.container {
    width: 100%;
    position: relative;
}

.tools {
    position: absolute;
    z-index: 3;
    right: 35px;
    bottom: 10px;
    cursor: pointer;
}

.container input {
    /*height: 50px;*/
    /*padding: 0px 14px;*/
}

.container label {
    /*height: 50px;*/
    /*top: -2px;*/
}

.container label[data-shrink="true"] {
    top: 0;
}

.error_text {
    position: absolute;
    color: #d32f2f;
    bottom: -20px;
    font-family: "Gilroy-Regular", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0;
    /*margin-left: 14px;*/
}

.text_area {
    outline: none;
    border: 1px solid rgba(196, 196, 196, 1);
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(101, 100, 108, 1);
    background-color: inherit;
    width: 100%;
    min-height: 191px;
    border-radius: 5px;
    padding: 13px 14px;
    resize: vertical;

}

.text_area::placeholder {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(101, 100, 108, 1);
}

.text_area:focus {
    border: 2px solid #1976d2;
}

.error {
    border: 1px solid #d32f2f;
}

.error::placeholder {
    color: #d32f2f;
}

.text_area:focus {
    border: 2px solid #d32f2f;
}

