.wrapper {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 367px;
    height: fit-content;
    width: 100%;
}

.btn {
    max-width: 160px;
    margin: 0 auto;
    margin-top: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 50px;
        padding: 0 30px;
    }
}