.progress {
    height: 7px;
    overflow: visible;
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: #fff;
    position: relative;
}

.line {
    background-color: rgba(38, 211, 103, 1);
    /*border-radius: 0 100px 100px 0px;*/
    border-radius: 100px;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 7px;
    z-index: 2;
    transition: width 0.1s linear
}