.progress {
    height: 7px;
    overflow: visible;
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: #fff;
    position: relative;
}

.line {
    background-color: rgba(38, 211, 103, 1);
    border-radius: 100px;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 7px;
    z-index: 2;
    transition: width 0.1s linear
}

.test {
    position: relative;
    z-index: 1;
}

.test:before {
    content: '';
    border: 1px solid rgba(196, 196, 196, 1);
    position: absolute;
    left: 0px;
    top: 0;
    height: 5px;
    width: calc(100% - 2px);
    border-radius: 100px;
}

.percent {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    color: rgba(101, 100, 108, 1);
}

.percent span {
    color: rgba(0, 0, 0, 1);
}