.progress {
    height: 7px;
    overflow: hidden;
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: #fff;
    position: relative;
}

.line {
    background-color: rgba(38, 211, 103, 1);
    border-radius: 100px;
    position: absolute;
    left: 0;
    height: 6px;
    z-index: 2;
    transition: .4s all;
}