.arrow {
    position: relative;
    z-index: 10;
}

.arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s all;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 1);
}

.arrow:hover svg {
    fill: #fff !important;
}


@media screen and (max-width: 768px) {
    .arrow:hover {
        background-color: #fff;
    }

    .arrow:hover svg {
        fill: rgb(0, 0, 0) !important;
    }

    .arrow:active {
        background-color: rgba(0, 0, 0, 1);
    }

    .arrow:active svg {
        fill: #fff !important;
    }
}
