.box {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
}

.box iframe {
    border-radius: 15px;
    width: 100%;
    height: 555px;
}

.description {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(101, 100, 108, 1);
    margin: 15px 0 20px 0;
}

.rating {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: rgba(196, 196, 196, 1);
}

.rating span {
    font-family: Gilroy-Black, sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    color: rgba(251, 209, 103, 1);
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .box {
        padding: 0px;
        border-radius: 10px;
    }

    .box iframe {
        border-radius: 10px;
        width: 100%;
        height: 177px;
    }

    .description {
        margin: 15px 10px 20px 10px;
    }

    .review {
        padding-bottom: 30px;
    }
}