.box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 7px;
}

.input {
    border: 1px solid rgba(196, 196, 196, 1);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 29px;
    text-align: center;
    color: rgba(42, 42, 44, 1);
    border-radius: 5px;
}

.error {
    border: 1px solid rgba(241, 0, 0, 1)
}

@media screen and (max-width: 768px) {
    .input {
        height: 50px;
    }
}