.box {
    width: 100%;
    position: relative;
    z-index: 2;
    /*overflow: hidden;*/
}

.box input {
    /*height: 50px !important;*/
    /*padding: 0px 14px !important;*/
}

.box label {
    /*height: 50px !important;*/
    /*top: -3px !important;*/
}


.unfocus {
    position: absolute;
    left: -10000px;
    opacity: 0;
}

.error_text {
    position: absolute;
    color: #d32f2f;
    bottom: -20px;
    font-family: "Gilroy-Regular", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 14px;
}