.wrapper {
    margin-top: 50px;
    padding: 0 50px;
    overflow: hidden;
}

.box {
    width: 100%;
    display: flex;
    gap: 30px;

}

.sub_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.sub_box_width {
    max-width: 264px;
}

.classNameActionBtns {
    margin-top: 0;
}

.classNameActionWrapper {
    padding: 30px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}

.classNameChats {
    max-height: 720px;
    overflow: auto;
}


.classNameChats::-webkit-scrollbar {
    width: 4px;
}

.classNameChats::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 1);
    border-radius: 2px;
}

.classNameChats::-webkit-scrollbar-track {
    background: transparent;
}


.chats {
    max-width: 100%;
    min-width: 100%;
}

.classNameAction {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*padding: 20px;*/
}

.classNameBoxChat {
    /*padding: 30px;*/
    /*margin-top: 30px;*/
}

.classNameWrapper {
    height: 770px;
    border-radius: 20px 20px 0 0;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

@media screen and (max-width: 1439px) {
    .box {
        flex-wrap: wrap;
    }

    .sub_box_width {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .box {
        flex-direction: column;
    }

    .all_chats {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 15px 30px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 1);
        font-family: 'Trajan Pro 3', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        color: rgba(42, 42, 44, 1);
        width: fit-content;
        margin: 0 auto;
        text-decoration: none;
    }

    .wrapper {
        margin-top: 20px;
        padding: 0 30px;
    }

    .classNameActionWrapper {
        padding: 0px;
        border-radius: 10px;
        margin-top: 10px;
        border: 1px solid rgba(196, 196, 196, 1);
    }

    .classNameAction {
        margin-top: 0;
        border: none;
        border-radius: 10px;
    }

    .classNameWrapper {
        height: 460px !important;
        min-height: 460px !important;
        max-height: 460px !important;
        border-radius: 10px;
        border: 1px solid rgba(196, 196, 196, 1);
    }

}