.wrapper {
    margin-top: 50px;
    padding: 0 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    gap: 20px;
}

.cell {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(42, 42, 44, 1);
}

.card_icon {
    margin-right: 8px;
}

.btn {
    text-decoration: none;
    height: 34px !important;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.icons_bank {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 18px;
}

.cell_bank {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_header {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-flex;
    width: 20px;
    position: absolute;
    left: -28px;
}

.main_title {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 50px;
        padding: 0 0;
        overflow: hidden;
    }

    .main_title {
        /*padding-left: 30px;*/
    }

    .box {
        display: block;
        flex-direction: column;
        align-items: center;
        background-color: inherit;
        border-radius: 0px;
        padding: 0;
        gap: 17px;
    }
}